.header-conteudo {
    padding: 10px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: inline-block;
    z-index: 100;
    color: #ffffff;
    background-color: #3e3e3e;
}

.nav-header img {
    margin-left: 100px;
    width: 5%;
}

.header-menu {
    float: right;
    margin-right: 100px;
}

.header-menu li {
    margin-top: 25px;
    margin-right: 22px;
    display: inline-block;
    font-size: 18px;
    color: #ffffff;
}

.header-menu li:hover {
    color: #00A2E8;
    transition: ease-in-out 2s;
}

.header-menu-mobile, .btn-menu {
    display: none;
}

.esconde {
    display: none;
}

@media (max-width: 1024px) {
    .nav-header img {
        margin-top: 45px;
        margin-left: 100px;
        width: 5%;
    }

    .header-menu li {
        margin-top: 55px;
        margin-right: 22px;
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .nav-header img {
        margin-top: 5px;
        margin-left: 100px;
        width: 8%;
        position: absolute;
    }

    .header-menu-mobile {
        display: block;
        background-color: #3e3e3e;
    }

    .header-menu-mobile li {
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 25px;
        line-height: 3;
        border-bottom: 1px solid #ffffff;
        color: #ffffff;
    }
    
    .header-menu-mobile li:hover {
        color: #00A2E8;
        transition: ease-in-out 2s;
    }

    .btn-menu {
        margin-top: 1px;
        margin-left: 600px;
        display: inline-block;
        border: 1px solid transparent;
        color: #ffffff;
        background-color: transparent;
        position: relative;
    }

    .btn-menu i {
        font-size: 60px;
    }
}

@media (max-width: 575px) {
    .nav-header img {
        margin-top: 10px;
        margin-left: 60px;
        width: 11%;
        position: absolute;
    }

    .header-menu-mobile li {
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 25px;
        line-height: 5;
        color: #ffffff;
    }
    
    .header-menu-mobile li:hover {
        color: #00A2E8;
        transition: ease-in-out 2s;
    }

    .header-menu-mobile li {
        font-size: 20px;
        line-height: 3;
    }
    
    .header-menu-mobile li:hover {
        color: #00A2E8;
        transition: ease-in-out 2s;
    }
    
    .header-menu-mobile li:hover {
        color: #00A2E8;
        transition: ease-in-out 2s;
    }

    .btn-menu {
        margin-top: 13px;
        margin-left: 380px;
        display: inline-block;
        border: 1px solid transparent;
        color: #ffffff;
        background-color: transparent;
        position: relative;
    }

    .btn-menu i {
        font-size: 35px;
    }
}

@media (max-width: 455px) {
    .nav-header img {
        margin-top: 10px;
        margin-left: 60px;
        width: 11%;
        position: absolute;
    }

    .header-menu-mobile li {
        font-size: 20px;
        line-height: 3;
    }
    
    .header-menu-mobile li:hover {
        color: #00A2E8;
        transition: ease-in-out 2s;
    }
    
    .header-menu-mobile li:hover {
        color: #00A2E8;
        transition: ease-in-out 2s;
    }

    .btn-menu {
        margin-top: 13px;
        margin-left: 320px;
        display: inline-block;
        border: 1px solid transparent;
        color: #ffffff;
        background-color: transparent;
        position: relative;
    }

    .btn-menu i {
        font-size: 35px;
    }
}

@media (max-width: 375px) {
    .btn-menu {
        margin-top: 10px;
        margin-left: 270px;
        display: inline-block;
        border: 1px solid transparent;
        color: #ffffff;
        background-color: transparent;
        position: relative;
    }

    .btn-menu i {
        font-size: 35px;
    }
}
